{% extends 'base.html' %} {% block content %}
<h2 style="text-align: center">Notas dos Alunos</h2>
<hr />
<form action="{{url_for('diary')}}" method="POST">
  <label for="student">Aluno:</label>
  <input
    type="text"
    class="form-control"
    name="student"
    id="student"
    required
  />
  <label for="note"></label>
  <input type="text" class="form-control" name="note" id="note" required />
  <button class="btn btn-success mt-2">Adicionar</button>
</form>
{% for d in diarys %}
<br />
<p class="d-inline-flex gap-1">
  <a
    class="btn btn-secondary"
    data-bs-toggle="collapse"
    href="#collapse_{{d.student}}"
    role="button"
    aria-expanded="false"
    aria-controls="collapse_{{d.student}}"
  >
    {{d.student}}
  </a>
</p>
<div class="collapse" id="collapse_{{d.student}}">
  <div class="card card-body">{{d.note}}</div>
</div>
{% endfor %} {%endblock content%}
