{% extends 'base.html' %} {% block content %}
<h2 class="text-center">Lista de Livros</h2>
<hr />
<a href="{{url_for('add_book')}}" class="btn btn-secondary">Adicionar Livro</a>
<br /><br />
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.description}}</td>
      <td>{{book.value}}</td>
      <td>
        <a href="{{book.id}}/update_book" class="btn btn-secondary btn-xs"
          >Editar</a
        >
        <a
          href="{{book.id}}/remove_book"
          class="btn btn-danger btn-xs"
          onclick="return confirm('Deseja exclui esse registro?')"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if books.has_prev %}
<a href="{{url_for('list_books', page=books.prev_num)}}">Livros Anteriores</a>
{% else %} Livros Listados {% endif %} {% if books.has_next %}
<a href="{{url_for('list_books', page=books.next_num)}}">Próximos Livros</a>
{% else %} Livros Listados {% endif %} {% endblock content %}
