{% extends 'base.html' %} {% block content %}
<h2 class="text-center">Cadastrar Livros</h2>
<hr />
<form action="{{url_for('add_book')}}" class="form-group" method="POST">
  <label for="name">Nome</label>
  <input
    type="text"
    class="form-control"
    name="name"
    placeholder="Nome do Livro..."
    id="name"
    required
  />
  <label for="description">Descrição</label>
  <input
    type="text"
    class="form-control"
    name="description"
    placeholder="Descrição do Livro..."
    id="description"
    required
  />
  <label for="number">Valor:</label>
  <input
    type="number"
    class="form-control"
    name="value"
    placeholder="Valor do Livro..."
    id="number"
    required
  />
  <button class="btn btn-success mt-2">Adicionar</button>
</form>
{% endblock content %}
