{% extends 'base.html' %} {% block content %}
<h2 style="text-align: center">Notas dos Alunos</h2>
<hr />
<form action="{{url_for('diary')}}" method="POST">
  <label for="student">Aluno:</label>
  <input type="text" name="student" id="student" required />
  <label for="note"></label>
  <input type="text" name="note" id="note" required />
  <button>Adicionar</button>
</form>
{% for d in diarys %}
<details>
  <summary style="cursor: pointer">{{ d.student }}</summary>
  <p>{{ d.note }}</p>
</details>
{% endfor %} {%endblock content%}
